// Mixin for roboto styles to avoid repetition
@mixin roboto-style($weight, $size) {
    font-family: $roboto-font-family;
    font-weight: $weight;
    font-size: $size;
  }
  
  // Mixin for bitter styles to avoid repetition
  @mixin bitter-style($weight, $size) {
    font-family: $bitter-font-family;
    font-weight: $weight;
    font-size: $size;
  }
  
  // Mixin for playfair styles to avoid repetition
  @mixin playfair-style($weight, $size) {
    font-family: $playfair-font-family;
    font-size: $size;
    font-weight: $weight;
  }