[data-inline-cluster] {
  --gutter: initial;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gutter, 0px);
  align-items: center;

  // the usage of attribute selectors for different justifications
  &[data-inline-cluster~="justify:center"] {
    justify-content: center;
  }
  &[data-inline-cluster~="justify:start"] {
    justify-content: flex-start;
  }
  &[data-inline-cluster~="justify:end"] {
    justify-content: flex-end;
  }
  &[data-inline-cluster~="justify:space-between"] {
    justify-content: space-between;
  }

  // the usage of attribute selectors for different alignments
  &[data-inline-cluster~="align:start"] {
    align-items: flex-start;
  }
  &[data-inline-cluster~="align:center"] {
    align-items: center;
  }
  &[data-inline-cluster~="align:end"] {
    align-items: flex-end;
  }
  &[data-inline-cluster~="align:stretch"] {
    align-items: stretch;
  }
}

[data-center] {
  box-sizing: content-box;
  max-inline-size: var(--maxWidth, 100%);
}

[data-center][data-center] {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-inline: auto;
}

[data-center~="center-children"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-center~="center-text"] {
  text-align: center;
}