.mobile-menu {
  display: none;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .site-header {
    display: none;
  }
  .main-flex {
    gap: 5rem; /* 80px / 16px */
  }
  .promo-section {
    align-items: flex-start;
    /*min-width: 28.125rem; /* 450px / 16px */
    padding: 0;
    min-height: 47.75rem; /* 764px / 16px */
    background: url("../img/inside-weather-Uxqlfigh6oE-unsplash%202.png") no-repeat left/cover;
  }
  .promo-section__content {
    width: 100%; /* Take full width of the container */
    min-width: 0; /* Override the min-width from the desktop styles */
    min-height: 21.5rem; /* 344px / 16px */
  }
  .biography-section {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem; /* 20px / 16px */
  }
  .biography-section__article-block-flex-mobile {
    display: flex;
    justify-content: space-between;
  }
  .image-with-caption {
    /* display: block; */
    order: 5;
  }
  .biography-section__article-block > p,
  .biography-section__header {
    display: none;
  }
  .biography-section__article-block > h2::before {
    content: "-";
  }
  .biography-section__article-header {
    order: 4;
  }
  .biography-section__article-header br {
    content: " ";
  }
  .biography-section__article-block > ul {
    display: block;
    list-style: "- ";
    padding: 0 1rem; /* 10px / 16px */
  }
  .biography-section__article-block li:not(:last-child)::after {
    content: none;
  }
  .rectangle {
    visibility: hidden;
  }
  .designer-section > h3 {
    margin-left: 1rem;
  }
  .designer-section__articles {
    gap: 1rem; /* 16px / 16px */
  }
  .designer-section__articles article:first-child {
    margin-left: 1rem; /* 16px / 16px */
  }
  .designer-section__articles article:first-child h4 {
    padding-top: 1.25rem; /* 20px / 16px */
  }
  .designer-section__articles article:first-child :is(h4, dl) {
    padding-left: 1rem;
  }
  .designer-section__articles article > h4 {
    padding-top: 1rem; /* 16px / 16px */
  }
  .testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 16px / 16px */
    overflow-x: auto;
  }
  .testimonial-section__caption-with-links {
    order: 5;
    writing-mode: lr;
    transform: rotate(0deg);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.775rem; /* 28.4px / 16px */
  }
  .testimonial-section__caption-with-links_website {
    order: -1;
  }
  .testimonial-section__caption-header {
    order: -1;
    writing-mode: lr;
    transform: rotate(0deg);
    align-items: flex-end;
    padding-right: 1rem; /* 16px / 16px */
  }
  .testimonial-section__image {
    display: none;
  }
  .testimonial-section__quote-and-image_text {
    max-width: 380px;
  }
  .testimonial-section__quote-and-image_text br {
    content: " ";
  }
  /* 16px / 16px */
  .strong-point-section > h3 {
    margin-left: 1rem;
  }
  @supports (display: grid) {
    .strong-point-section__points {
      grid-template-columns: 201px repeat(3, 310px);
      -moz-column-gap: 1rem;
           column-gap: 1rem;
    }
  }
  .strong-point-section__points_image img {
    width: 310px;
    height: 450px;
  }
  .strong-point-section__points_strengths {
    order: -1;
    align-items: flex-start;
  }
  .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 100;
    bottom: 0;
    background-color: #fff;
    border: 2px solid #000000;
    border-style: solid none;
    width: 100%;
    min-height: 82px;
  }
  .mobile-menu__link {
    display: block;
    text-decoration: none;
    color: #000000;
  }
  .mobile-menu__link:hover {
    text-decoration: underline;
    font-weight: 700;
  }
  .site-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .site-footer > .roboto-medium {
    order: -1;
    align-self: flex-end;
  }
}/*# sourceMappingURL=media-screens.css.map */