@import "variables";
@import "mixins";

.modal_backdrop,
.modal__trigger {
  display: none; /* Hide the checkbox */
}

.modal__trigger:checked + .modal {
  display: block; /* Show modal when checkbox is checked */
  position: fixed;
  overflow: hidden;
  width: 496px;
  height: 612px;
}
.modal {
  border: none;
  border-radius: 12px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 80%;
  max-width: 512px;
  z-index: 1000;
  display: none;

  background-color: rgba(255, 255, 255, 0);
}
// .modal {
//   width: 512px;
//   gap: 24px;
//   border: none;
//   background-color: rgba(255, 255, 255, 0);
//   box-sizing: border-box;
// }

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px / 16px */
  opacity: 1;
  z-index: 1;
  border-radius: 10px;
  background: #ffffff;
  padding: 1.25rem; /* 20px / 16px */
}
.modal__form::after {
  content: "";
  border: #ffffff 2px solid;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  width: 462px;
  height: 598px;
  z-index: -1;
  border-radius: 10px;
  animation-duration: 3s;
  animation-name: frame;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes frame {
  0% {
  }

  100% {
    transform: rotate(3deg);
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 24px / 16px */
}

.modal__field {
  position: relative;
  transition: all 3s ease-in-out;
}

.modal__field:hover {
  background-color: lightgrey;
}

.modal__field:focus-within {
  outline: darkgray 1px solid;
}

.modal__label {
  @include roboto-style(500, 1.125rem); /* 18px / 16px */
  display: block;
  margin-bottom: 0.4rem; /* 6px / 16px */
}

.modal__input,
.modal__textarea {
  @include roboto-style(400, 1rem);
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal__textarea {
  resize: none;
  height: 135px;
}

.modal__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__buttons {
  display: flex;
  justify-content: space-around;
}

.modal__button {
  @include roboto-style(500, 1.125rem); /* 18px / 16px */
  width: 180px;
  line-height: 55px;
  border-radius: 10px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: #e1e1e1;
}

.modal__button--cancel {
  background-color: #ffffff;
  color: #000000;
}

.modal__button--send {
  background-color: #000000;
  color: #ffffff;
}
.modal__button--send::before {
  content: "\2b";
  margin-right: 10px;
  font-family: FontAwesome;
}

.modal__field {
  > svg {
    position: absolute;
    top: 2.1rem;
    right: 0.5rem;
    height: 2rem;
    width: 2rem;
    pointer-events: none; /* Makes sure clicks on the icon don't interfere with the input */
  }
}

/* The backdrop that covers the entire screen */
// .modal-backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     backdrop-filter: blur(5px); /* Apply a blur effect to the background */
//     -webkit-backdrop-filter: blur(5px); /* For Safari compatibility */
//     background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
//     z-index: 1000; /* Ensure it's above the rest of the page */
//   }

.popup-message {
  width: 35px;
  transition: all 0.5s ease-in-out;
}

.popup-message:hover {
  transform: scale(1.15);
}
