
// Promotional Section
.promo-section {
    display: flex;
    align-items: center;
    min-height: 39.375rem; // 630px
    padding: 5.625rem 0; // 90px top and bottom
  
    background: url("../img/inside-weather-Uxqlfigh6oE-unsplash%201.jpg") no-repeat left/cover;
  }
  
  // Promotional Content
  .promo-section__content {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 6.875rem 0; // 110px top and bottom
    min-width: 43.125rem; // 690px
    min-height: 22.5rem; // 360px
    text-align: center;
    line-height: 1.2;
  }