:root {
    --strong-point-section-gap: 1.25rem; /* 20px / 16px */
    --strong-point-image-width: 335px;
  }

.strong-point-section {
  margin-left: var(--strong-point-section-gap);
  overflow-x: auto;
}

@supports (display: grid) {
  .strong-point-section {
    display: grid;
    grid-template-columns: repeat(2, var(--strong-point-image-width)) 451px var(--strong-point-image-width);
    column-gap: var(--strong-point-section-gap)
  }
}

@supports not (display: grid) {
    .strong-point-section {
        display: flex; /* Activate flexbox if grid isn't supported  */
        margin-right: var(--strong-point-section-gap)
    }

    .strong-point-image {
        flex-basis: var(--strong-point-image-width);
        margin-right: var(--strong-point-section-gap)
    }

    .strong-point-strengths {
        flex-basis: 451px;
        margin-right: var(--strong-point-section-gap)
    }

}

.strong-point-strengths {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: /* 28px / 16px */ 1.75rem;
  padding-bottom: /* 18px / 16px */ 1.125rem;
}

.strong-point-strengths > h2 {
  line-height: 1;
}

.strong-point-section-with-header > h3 {
  margin-left: 16.125rem; /* 258px / 16px */
  margin-bottom: 1.875rem; /* 30px / 16px */
}

.strong-point-image img {
  width: var(--strong-point-image-width);
  height: 555px;
}
