.testimonial-section {
  display: grid;
  grid-template-columns: max-content minmax(0, 451px) minmax(0, 119px) minmax(min-content, 451px);
  /* grid-column: 2 / 4; */
  grid-template-rows: auto; /* Rows will adjust based on content */
  justify-content: center;
  column-gap: 1.25rem; /* 20px / 16px */
}

.testimonial-caption-with-links {
  writing-mode: tb;
  transform: rotate(180deg);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  gap: 4.375rem; /* 70px / 16px */
  padding: 1.25rem; /* 20px / 16px */
}

.testimonial-caption-header {
  writing-mode: tb;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.testimonial-image{
  max-width: 451px;
  /* height: 760px; */
}
.testimonial-image img {
  object-fit: contain;
}

.testimonial-quote-and-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.53125rem; /* 40.5px / 16px */
}

.testimonial-quote-and-image > img {
  /* width: 221px; */
  max-width: 100%;
  /* height: 333px; */
}

.testimonial-quote-text {
  font-size: 2rem;
  text-align: center;
}

.testimonial-image,
.testimonial-image-bag-desktop {
  display: block;
}
.testimonial-image-bag-mobile {
  display: none;
}
